* {
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/hav-4000x3000.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}
